<div class="user-home-background">
  <div class="user-home-content-area">
    <div class="user-home-navbar">
      <p>
        <a href="#">
          <img src="../assets/logout.png" class="navbar-ico rotate" />
        </a>
      </p>

      <p>
        <a href="#">
          <img
            src="../assets/shopping-cart.png"
            class="navbar-ico navbar-text"
            alt="carrinho"
          />
        </a>
      </p>

      <p>
        <a href="#">
          <img src="../assets/diamond.png" class="navbar-ico" alt="" />
          <p class="navbar-text">5</p>
        </a>
      </p>

      <p>
        <a href="#">
          <img src="../assets/coins.png" class="navbar-ico" alt="" />
          <p class="navbar-text">500</p>
        </a>
      </p>

      <p>
        <a href="#">
          <img src="../assets/user.png" class="navbar-ico" alt="" />
          <p class="navbar-text">Olá, Usuário</p>
        </a>
      </p>

      <p>
        <a href="#">
          <img src="../assets/settings.png" class="navbar-ico" alt="" />
        </a>
      </p>
    </div>
    <div class="user-home-ranking-area">
      <div class="text-ranking">
        <img src="../assets/artemisia.ico" />
        <h2>Ranking</h2>
      </div>

      
      </div>
    </div>
  </div>
</div>
